# Ignorer les dossiers de dépendances Node.js
node_modules/

# Ignorer les dossiers de build (React par défaut)
client/build/
server/build/ # Si vous buildz le serveur

# Ignorer les fichiers de débogage ou temporaires
*.log
*.tmp
.DS_Store # Fichiers Mac

# Ignorer les fichiers d'environnement locaux (potentiellement sensibles)
.env
.env.local
.env.*.local

# Ignorer les caches de l'éditeur (VS Code par exemple)
.vscode/

# Autres dossiers de build courants si utilisés
dist/
out/