# Ignorer les dépendances Node
node_modules/
server/node_modules/
client/node_modules/

# Ignorer les fichiers d'environnement (s'ils contiennent des secrets)
.env
*.env

# Autres fichiers (logs, builds temporaires, etc.)
npm-debug.log
*.log
build/
dist/

# Fichiers système macOS/Windows
.DS_Store
Thumbs.db
